/* Output resolution DPPX status */

#resolution {
}
#resolution:before {
    content: "default";
}

@media (min-resolution: 1.5dppx) {
    #resolution:before {
        content: "min 1.5dppx ";
    }
}

@media (min-resolution: 2dppx) {
    #resolution:before {
        content: "min 2dppx ";
    }
}


/* styleguide header */
.header-styleguide {
    background-color: var(--color-root-beta);
}
.header-styleguide  .header-title {
    color: var(--color-brand-darkorange);
}
.header-styleguide .header-btn {
    color: var(--color-root-alpha);
}
.header-styleguide .header-btn:active {
    background-color: var(--color-root-iota);
}


/* styleguide sections */
section {
    height: 480rem;
}
