/*
apps.css

These are app specific styles that do not exist and are not reused anywhere else.


CONTACTS
===================
*/
/* contacts list */

.menu-item.contact {
    padding: var(--dim-micro) 0;
}
.contact-info {
    padding-top: var(--dim-micro);
}
.contact .first,
.contact .last {
    font-size: var(--font-medium);
    color: var(--color-gamma);
}
.contact .first {
    font-weight: bold;
}
.contact .last {
    font-weight: normal;
}
.contact .company {
    font-size: var(--font-small);
}
.contact .thumb {
    display: block;
    width: calc(var(--dim-large) - 2px);
    height: calc(var(--dim-large) - 2px);
    border-radius: calc(var(--dim-large) / 2);
    border: 1px solid #dddddd;
    background: #fff;
}


/* contacts detail */
#l-contact-detail {
    order: 2;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAFUlEQVQImWNgQAKrVq1KI5XDwMAAAEcLCZGM1QPXAAAAAElFTkSuQmCC');
    height: 100%;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
}
.contact-detail-container {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background: white;

}
.contact-detail-header {
    line-height: 170px;
    text-align: center;
}


/* layout */
#l-contact-container {
    display: flex;
    flex-direction: row;
}
#l-contact-list {
    order: 1;
    flex: 1 1 50%;
    flex-basis: 400px;
}

/* responsive */
@media (min-width: 800px) {
    #l-contact-detail {
        display: flex;
    }
}

/*
MEDIA
===================
*/

.theme-media .menu-meta {       
    /* this style seems specific to media, if there are any other applications, move to GAIA THEME section */
    color: var(--color-alpha);
    font-style: italic;
    font-weight: lighter;
    font-size: var(--font-small);
}
