/* Output resolution DPPX status */

#resolution {
}

#resolution:before {
    content: "default";
}

.sg-landing {
    height: 100%;
    /*position: fixed;*/
    z-index: 100;
}
.sg-title {
    position: absolute;
    top: 25%;
    width: 100%;
}
.sg-landing-content {
    position: absolute;
    bottom: 15%;
}

.sg-toolbar {
    width: 100%;
    height: 30px;
    background: rgba(255,255,255,0.8);
    position: fixed;
    color: #000;
    font-size: 8px;
    top: 0px;
    left: 0px;    
    margin: 0;
    text-align: center;
    z-index: 101;
}

.sg-principles {
    display: none;
    height: 100%;
    position: fixed;
    z-index: 99;
}
.sg-principles-cards {
    height: 100%;
    background: gray;
}







/* styleguide app */
.sg-app {
    height: 480px;
    overflow: hidden;
}

/* styleguide colors */
.sg-color {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: 5px;
    display: inline-block;
}
/* styleguide sections */
.sg-section-full {
    width: 100%;
    background: #fff;
}
.sg-section {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}
.sg-border {
    border: 1px solid #e8e8e8;
}

/* theme specific adjustments */
.theme-media .sg-landing {
    background: var(--color-alpha);
}
.theme-media .sg-border {
    border-color: #4d4d4d;
}


/* app layouts */
/* to do: move to layouts */
.l-app {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.l-app-content {
  display: flex;
  flex: 1 1 0%;
  overflow: auto;
}

html, body {
    height: 100%;
}



@media (min-resolution: 1.5dppx) {
    #resolution:before {
        content: "min 1.5dppx ";
    }
}

@media (min-resolution: 2dppx) {
    #resolution:before {
        content: "min 2dppx ";
    }
}

@media (max-width: 800px) {
    .sg-border {
        border-bottom: none;
        border-left: none;
        border-right: none;
        border-top: 1px solid #e8e8e8;
    }
}
@media (max-height: 480px) {
    /*.sg-section {
        height: 100%;
    }*/
}
