/* Output resolution DPPX status */

#resolution {
}

#resolution:before {
    content: "default";
}

@media (min-resolution: 1.5dppx) {
    #resolution:before {
        content: "min 1.5dppx ";
    }
}

@media (min-resolution: 2dppx) {
    #resolution:before {
        content: "min 2dppx ";
    }
}

@media (max-width: 800px) {
    .sg-border {
        border-bottom: none!important;
        border-left: none!important;
        border-right: none!important;
        border-top: 1px solid #e8e8e8!important;
    }
}
@media (max-height: 480px) {
    /*.sg-section {
        height: 100%;
    }*/
}


/* styleguide header */
.sg-header {
    width: 100%;
    height: 100px;
    background: rgba(255,255,255,0.8);
    position: fixed;
    top: 0px;
    left: 0px;
    display: none;
}
.sh-header-title {
    color: #fff;
}

/* styleguide app */
.sg-app {
    height: 480px;
    overflow: hidden;
}

/* styleguide colors */
.sg-color {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 5px solid #fff;
    display: inline-block;
}
/* styleguide sections */
.sg-section {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--color-iota);   
}
.sg-border {
    border: 1px solid #e8e8e8;
}

/* styleguide headers */
.sg-header {
    margin: 0;
    text-align: center;
}

#sg-landing {
    height: 100%;
    position: relative;
}

#sg-title {
    position: absolute;
    top: 25%;
    width: 100%;
}
#sg-header {
    margin: 0;
    margin-bottom: 15px;
}
#sg-subheader {
    margin: 0;   
}
#sg-install {
    position: absolute;
    bottom: 15%;
}

.l-app {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.l-app-content {
   display: flex;
  flex: 1 1 0%;
}

html, body {
    background: var(--color-iota);
    height: 100%;
}