/*
base.css

Base rules are the defaults. They are almost exclusively single element selectors but it could include attribute selectors, pseudo-class selectors, child selectors or sibling selectors. Essentially, a base style says that wherever this element is on the page, it should look like this.

Base styles include setting heading sizes, default link styles, default font styles, and body backgrounds. There should be no need to use !important in a Base style.

CSS variable definitions are also defined here.
*/


/*
VARIABLES
=================
*/

:root {
    /* base colors */
    --color-root-alpha: #333333;
    --color-root-beta: #ffffff;
    --color-root-gamma: #4d4d4d;
    --color-root-delta: #5f5f5f;
    --color-root-epsilon: #858585;
    --color-root-zeta: #a6a6a6;
    --color-root-eta: #c7c7c7;
    --color-root-theta: #e7e7e7;
    --color-root-iota: #f4f4f4;

    /* base dimensions */
    --dim-micro: 6rem;
    --dim-milli: 12rem;
    --dim-small: 16rem;
    --dim-medium: 45rem;
    --dim-large: 50rem;
    --dim-mega: 60rem;

    /* base font sizes */
    --font-small: 14rem;
    --font-medium: 17rem;
    --font-large: 23rem;
}


/* 
TYPE
===================
*/
h1,.alpha   { 
    font-size: var(--font-large);
    line-height: 26rem;
    font-weight: lighter;
    font-style: italic;
    color: var(--color-root-gamma);
}

h2,.beta  {
    font-size: var(--font-medium);
    color: var(--color-root-gamma);
}

h3,.gamma   { 
    font-size: var(--font-small);
    font-style: bold;
    text-transform: uppercase;;
    font-weight: normal;
    color: var(--color-root-gamma);
}

h4,.delta   { }
h5,.epsilon { }
h6,.zeta    { }

/* font styles larger than h1 */
.mega{ }
.giga{ }
.kilo{ }

/* font style smaller than regular */
small, .milli {}

/* base font */
* { 
    font-family: "FiraSans"; 
    font-size: var(--font-medium);
    font-weight: normal;
    line-height: 19rem;
    color: var(--color-root-epsilon);
}



/* 
MEDIA QUERIES
===================
*/
/* 
to do: need to figure out where this lives 
options include:
    - as separate responsive.css
    - in layout module
*/

#resolution {
    background: green;
    color: white;
}
#resolution:before {
    content: "default";
}

@media (min-resolution: 1.5dppx) {
    #resolution {
        background: red;
        color: white;
    }
    #resolution:before {
        content: "min 1.5dppx ";
    }
}

@media (min-resolution: 2dppx) {
    #resolution {
        background: orange;
        color: white;
    }
    #resolution:before {
        content: "min 2dppx ";
    }
}


/* 
TAGS
===================
*/
html, body {
  padding: 0;
  margin: 0;
  background-color: var(--color-root-iota);
  font-size: 1.0px;
}

a {
}




