/*
gaia.css

Theme file for Gaia specific styles.

Gaia apps also have a sub-theme for each class of application in addition to defaults:
* Media
* Settings
* Productivity
* Communications

About theme files:
Themes can affect any of the primary types. They can override base styles like default link colours. They can change module elements such as colours and borders. They can affect layout with different arrangements. They can also alter how states look.

Themed CSS variables are also defined here.
*/


/*
GAIA THEME
===================
*/

/* variables */
:root {
    --color-brand-darkblue: #00539f;
    --color-brand-blue: #00caf2;
    --color-brand-turquoise: #27c8c2;
    --color-brand-darkorange: #e66000;
    --color-brand-orange: #ff9500;
    --color-brand-yellow: #ffcb00;
    --color-brand-violet: #c40c84;

    --color-brand-alpha: #00aac5;
    --color-brand-beta: #00caf2;
    --color-brand-gamma: #b2f2ff;
}



/*  fonts */
@font-face {
    font-family: "FiraSans";
    src: url("../fonts/FiraSans-Light.woff") format("woff");
    font-weight: 300; /* lighter */
}
@font-face {
    font-family: "FiraSans";
    src: url("../fonts/FiraSans-LightItalic.woff") format("woff");
    font-style: italic;
    font-weight: 300; /* lighter */
}
@font-face {
    font-family: "FiraSans";
    src: url("../fonts/FiraSans-Regular.woff") format("woff");
    font-style: normal; 
    font-weight: normal; /* 400 */
}
@font-face {
    font-family: "FiraSans Regular Italic";
    src: url("../fonts/FiraSans-RegularItalic.woff") format("woff");
    font-weight: normal; /* 400 */
}
@font-face {
    font-family: "FiraSans";
    src: url("../fonts/FiraSans-Medium.woff") format("woff");
    font-weight: bold; /* 700 */
}
@font-face {
    font-family: "FiraSans";
    src: url("../fonts/FiraSans-MediumItalic.woff") format("woff");
    font-style: italic;
    font-weight: bold; /* 700 */
}
@font-face {
    font-family: "FiraSans";
    src: url("../fonts/FiraSans-Bold.woff") format("woff");
    font-weight: 800; /* bolder */
}
@font-face {
    font-family: "FiraSans";
    src: url("../fonts/FiraSans-BoldItalic.woff") format("woff");
    font-style: italic;
    font-weight: 800; /* bolder */
}



/*
COMPONENTS
------------------------
*/

/* input */
.input:focus {
    border: 1rem solid #d6d6d6;
    border-bottom: 3rem solid var(--color-brand-blue);
}

/* buttons */
.btn:active {
    background-color: var(--color-brand-blue);
    border: 1rem solid var(--color-brand-blue);
}

/* menu */
.menu {
    padding: 0 var(--dim-small);
}
.menu-item {
    padding: var(--dim-small) 0;
    z-index: 100;
    position: relative;
    font-weight: bold;
}
.menu-item:active {
}
.menu-item:active:after {
    content: " ";
    position: absolute;
    top: -1rem;  
    left: calc(var(--dim-small) * -1);
    width: calc(100% + var(--dim-small) * 2);
    height: calc(100% + 2rem);
    background: var(--color-root-theta);
    z-index: -1;
}

/*
SETTINGS THEME
------------------------
*/

/* headers */
.theme-settings .header {
    background: var(--color-root-iota);
}
.theme-settings .header-btn {
    color: var(--color-brand-blue);
}


/*
COMMS THEME
------------------------
*/

/* headers */
.theme-comms .header {
    background: var(--color-brand-turquoise);
}
.theme-comms .header-title  {
    color: var(--color-root-beta);
}
.theme-comms .header-btn  {
    color: #16706c;
}
.theme-comms .header-btn:active  {
    background: #24bab4;
}
/* tabs */
.theme-comms .tabs-is-selected {
    color:  var(--color-brand-turquoise);
    border-bottom: 3rem solid var(--color-brand-turquoise);
}


/*
MEDIA THEME
------------------------
*/
/* headers */
.theme-media .header {
    background: var(--color-root-gamma);
}
.theme-media .header-title {
    color: var(--color-root-theta);
}
.theme-media .header-btn {
    color: #00aac5;
}
.theme-media .header-btn:active {
    background: #3e3e3e;
}

/* tabs*/
.theme-media .tabs {
    background: var(--color-root-alpha);
    color: var(--color-root-beta);
}
.theme-media .tabs-item {
    color: var(--color-root-beta);
}
.theme-media .tabs-item:active {
    background: #242424;
}
.theme-media .tabs-is-selected {
    color: var(--color-brand-alpha);
    border-bottom: 3rem solid var(--color-brand-alpha);
}
.theme-media .tabs-is-selected:active {
    background: transparent;
}

/* menu */
.theme-media .menu {
    background: var(--color-root-alpha);
}
.theme-media .menu-item {
    color: var(--color-root-beta);
    border-bottom: 1rem solid #3b3b3b;
    font-weight: normal;
}
.theme-media .menu-item:active:after {
    background: #242424;
}

/*
PRODUCTIVITY THEME
------------------------
*/
/* header */
.theme-productivity .header {
    background: var(--color-brand-orange);
}
.theme-productivity .header-title {
    color: var(--color-root-beta);
}
.theme-productivity .header-btn {
    color: var(--color-root-beta);
}
.theme-productivity .header-btn:active {
    background: #ed8a00;
}





