/*
modules.css

A Module is a more discrete component of the page. It is your navigation bars and your carousels and your dialogs and your widgets and so on. This is the meat of the page. Modules sit inside Layout components. Modules can sometimes sit within other Modules, too. Each Module should be designed to exist as a standalone component.
*/




/*
BUTTONS
=================
*/


.btn {
    display:inline-block;
    height: 50rem;
    font-weight: lighter;
    font-style: italic;
    font-size: var(--font-medium);
    padding: 0rem 25rem;
    border-radius: 25rem;
    border: 1px solid #eeeeee;
    border-bottom: 1px solid #dddddd;
    background:  var(--color-root-beta);
    color: var(--color-root-alpha);
}

.btn:active {
    color: var(--color-root-beta);
    border: 1px solid var(--color-root-delta);
    background-color: var(--color-root-delta);
}

.btn-rectangle {
    border-radius: 0rem;
}

.btn-circle {
    width: 60rem;
    height: 60rem;
    border-radius: 30rem;
}


/*
HEADERS
=================
*/

.header {
    display: flex;
    width: 100%;
    min-height: 50rem;
    justify-content: center;
    background: var(--color-root-beta);
}

.header > .header-btn {
    position: relative;
    order: 3;
    min-width: 50rem;
    min-height: 50rem;
    text-align: center;
    font-style: italic;
    font-size: var(--font-small);
    text-decoration: none;
    line-height: 50rem;
    margin: 0;
    padding:0;
    border: none;
    background: transparent;
}

.header > .header-btn:first-child {     /* first header button is assumed to be navigation  */
    order: 1;
}

.header > .header-btn:active {
    background: #e3e3e3;
}

.header-title {
    margin: 14rem 16rem;
    order: 2;
    flex: 1;
    text-align: center;
}


/*
INPUT
=================
*/

.input {
    box-sizing:border-box;
    border: 1rem solid #d6d6d6;
    background: var(--color-root-beta);
    font-size: var(--font-medium);
    color: var(--color-root-alpha);
    min-height: 40rem;
    margin: 0rem 0rem var(--dim-small) 0rem;
    padding: 0rem var(--dim-small);
}

.input::-moz-placeholder {
    font-style: italic;
    font-weight: lighter;
    color: #909ca7;
}
.input:focus {
    border-bottom: 3rem solid var(--color-root-alpha);
}
.input-label {
    font-size: var(--font-small);
    display: block;
    margin: 0 0 4rem var(--dim-small);
}

/*
MENU
=================
*/
.menu {
    padding: 0; 
    margin: 0;
    width: 100%;
}
.menu-item {
    box-sizing:border-box;
    list-style: none;
    border-bottom: 1rem solid var(--color-root-theta);
    padding: var(--dim-small) var(--dim-small);
    color: var(--color-root-gamma);
}
.menu-item:active {
    background: var(--color-root-theta);
}

/*
TABS
=================
*/
.tabs {
    background: var(--color-root-beta);
    margin: 0;
    padding: 0;
}
.tabs-item {
    box-sizing:border-box;
    list-style: none;
    text-align: center;
    font-size: var(--font-medium);
    color: var(--color-root-epsilon);
    height: var(--dim-medium);
    line-height: var(--dim-medium);
}
.tabs-item:active {
    background: var(--color-root-iota);
}


/*
ICON
=================
*/

.icon-nav {
    width: 100%;
    height: 100%;
    font-size: 0rem;
    background-repeat: no-repeat;
    background-size: 65%;
    background-position: center center;
}

.icon-nav-back {
    background-image: url('../modules/icon/nav-back.svg');
}

.icon-nav-close {
    background-image: url('../modules/icon/nav-close.svg');
}

.icon-nav-menu {
     background-image: url('../modules/icon/nav-menu.svg');
}


/*
TOGGLE
=================
*/

.toggle {
    position: relative;
    height: 34rem;
    top: -6rem;
    left: -15rem;
}

.toggle-track {
    display: block;
    width: 50rem;
    height: 30rem;
    border-radius: 25rem;
    background: #b7b7b7;
    position: absolute;
    overflow: hidden;
}


.toggle-on {
    width: 0rem;
    height: 0rem;
    border-radius: 35rem;
    left: 20rem;
    top: 15rem;
    position: relative;
    background: #00aac5;
    transition-property: width, height, top, left, background-color;
    transition-duration: 0.2s;
    transition-delay: 0.2s;
}
.toggle.is-checked .toggle-on {
    width: 70rem;
    height: 70rem;
    left: 0rem;
    top: -20rem;
    background: #00caf2;
}
.toggle-handle {
    position: relative;
    content: " ";
    top:-2rem;
    left: 0rem;
    width: 34rem;
    height: 34rem;
    border-radius: 16rem;
    background: #fff;
    border: 1rem solid #aaaaaa;
    transition: left 0.2s;
}
.toggle.is-checked .toggle-handle {
    left: 17rem;
}

.toggle-handle:after {
    content: " ";
    background: #00caf2;
    width: 0rem;
    height: 0rem;
    border-radius: 6rem;
    top: 16rem;
    left: 16rem;
    position: absolute;
    transition-property: width, height, top, left;
    transition-duration: 0.2s;
    transition-delay: 0.4s;
}

.toggle.is-checked .toggle-handle:after {
    top: 10rem;
    left: 10rem;
    width: 12rem;
    height: 12rem;
}