/* 
state.css

State rules are ways to describe how our modules or layouts will look when in a particular state.  Is it hidden or expanded? Is it active or inactive?  
*/


/* helper classes */
.is-hidden {
    display: none;
}

/* buttons */
.btn-is-disabled {
    border: 1px solid #f0f0f0;
    background-color: #fbfbfb;
    color: #ababab;
}

.btn-is-disabled:active {
    background-color: #fbfbfb!important;
    border: 1px solid #f0f0f0!important;
    color: #ababab!important;
}


/* tabs */
.tabs-is-selected {
    color: var(--color-root-alpha);
    border-bottom: 3rem solid var(--color-root-alpha);
}

.tabs-is-selected:active {
    background: transparent;
}