/* layout.css */


/* helper classes */
.l-clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.l-align-right {
    float: right;
}

.l-align-left {
    float: left;
}

.l-align-center {
    text-align: center;
}


/* content */
.l-mb60 {
    margin-bottom: var(--dim-mega);
}

.l-plr16 {
   padding: var(--dim-small); 
}