/* 
state.css

State rules are ways to describe how our modules or layouts will look when in a particular state. Is it hidden or expanded? Is it active or inactive? They are about describing how a module or layout looks on screens that are smaller or bigger. They are also about describing how a module might look in different views like the home page or the inside page. – SMACSS, Categorizing CSS Rules 
*/


.btn-is-disabled {
    border: 1px solid #f0f0f0;
    background-color: #fbfbfb;
    color: #ababab;
}

.btn-is-disabled:active {
    background-color: #fbfbfb!important;
    border: 1px solid #f0f0f0!important;
    color: #ababab!important;
}
