

.header-styleguide {
    background-color: var(--color-root-beta);
}
.header-styleguide  .title {
    color: var(--color-brand-darkorange);
}
.header-styleguide .header-btn {
    color: var(--color-root-alpha);
}
.header-styleguide .header-btn:active {
    background-color: var(--color-root-iota);
}


/* content */
.l-mb60 {
    margin-bottom: var(--dim-mega);
}

.l-plr16 {
   padding: var(--dim-small); 
}